#header
  %h1= link_to t(:adminka), '/admin'
  %ul
    %li= link_to t(:phrases), phrasing_phrases_path
    -# %li= link_to t(:import_export), import_export_phrasing_phrases_path
    -# %li= link_to "Help", help_phrasing_phrases_path
    - if respond_to? :root_path
      %li= link_to t(:home_page), root_path
